.main {
    position: relative;
    padding: 0;

    min-height: 100vh;
}
.fold {
    min-height: 100vh;
    position: relative;
    display: flex;
    padding: 0 4rem;
    background: var(--background-solid-green);
}
.hi {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0.7;
    margin-top: 4rem;
}
.headline {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 3.8rem;
    letter-spacing: -0.01em;
    text-align: left;
}
.headline::after {
    content: '私たちはクレイジーでインパクトのある製品を作っています。';
    display: block;
    font-size: 1.1rem;
    color: rgb(1, 62, 0);
    opacity: 0.5;
    margin-top: 10px;
}

.crazy {
    font-family: var(--font-handwritten);
    opacity: 0.8;
}
.bottom {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0.6;
    bottom: 4rem;
}

.code {
    font-weight: 700;
    font-family: var(--font-mono);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    width: var(--max-width);
    max-width: 100%;
}

.card {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
}

.card span {
    display: inline-block;
    transition: transform 200ms;
}

.card h2 {
    font-weight: 600;
    margin-bottom: 0.8rem;
}

.card p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
}

.center {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
}

.background {
    background-color: rgb(8, 8, 11);
    color: white;
    min-height: auto;
    position: relative;
    display: flex;
    padding: 8rem 4rem;
}
.background p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    max-width: 840px;
    margin-left: 5rem;
}
.background svg {
    height: 20px;
    margin: 5rem 0rem 3rem 5rem;
}
svg.trezorLogo {
    height: 30px;
}
.background h3 {
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 0.5;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .card:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }

    .card:hover span {
        transform: translateX(4px);
    }
}

@media (prefers-reduced-motion) {
    .card:hover span {
        transform: none;
    }
}

/* Mobile */
@media (max-width: 700px) {
    .fold {
        min-height: 100vh;
        position: relative;
        display: flex;
        padding: 0 2rem;
        background: var(--background-solid-green);
    }
    .background {
        padding: 5rem 2rem;
        flex-direction: column;
    }
    .background p {
        margin-left: 0;
        font-size: 1.2rem;
        list-style: 1.3rem;
        margin-top: 2rem;
    }
    .background svg {
        height: 18px;
        margin: 3rem 2rem 0rem 0rem;
    }
    svg.trezorLogo {
        height: 25px;
    }
    .hi {
        margin-top: 2rem;
    }

    .headline {
        font-size: 2.5rem;
        line-height: 2.8rem;
    }
    .headline::after {
        margin-top: 5px;
        font-size: 0.7rem;
    }

    .grid {
        grid-template-columns: 1fr;
        margin-bottom: 120px;
        max-width: 320px;
        text-align: center;
    }

    .card {
        padding: 1rem 2.5rem;
    }

    .card h2 {
        margin-bottom: 0.5rem;
    }

    .center {
        padding: 8rem 0 6rem;
    }

    .center::before {
        transform: none;
        height: 300px;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
    }
    .fold {
        min-height: 100vh;
        position: relative;
        display: flex;
        background: var(--background-solid-green);
    }
}
